#to-do-list-container {
  border: 2px solid #cecece;
  position: absolute;
  left: 50%;
  top: 50%;

  /* height: 200px; */

  margin-top: -100px;
  width: 400px;
  margin-left: -200px;
  background-color: #f3f3f3;
}

#header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cecece;
  background-color: #fff;
}

#header-text {
  margin-left: 10px;
}

#header-icon {
  margin-right: 10px;
  margin-top: 20px;
}

#paragraph-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cecece;
  background-color: #fff;
}

#paragraph-text {
  margin-left: 10px;
  font-style: italic;
}

#paragraph-icon {
  margin-right: 10px;
  margin-top: 20px;
}

#ul-container {
  padding-left: 5px;
  background-color: #fff;
  margin-top: 0.1px;
}

.li-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #cecece;
  margin-bottom: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.li-icon {
  margin-right: 10px;
}

.ul-li {
  list-style: none;
}

.square {
  padding-right: 7px;
}

#final-paragraph-text {
  color: lightgray;
  text-align: center;
}
